/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root{
    /* Main shades of red */
    --clr-primary-1:#C8102E;
    --clr-primary-2:#8E0005;
    /* Background colors */
    --background-clr-1:#F8F2F4;
    --background-clr-2:#231F20;
    /* text colors */
    --text-title:#231F20;
    --text-p-1:#AB9A9B;
    --text-p-2:#4F4A4B;
    /* White */
    --white-clr:#FFFFFF;
    
    /* Others */
    --ff-primary: "Lato", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}




/*
================
 GLOBAL STYLES
================
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: var(--white-clr);
    font-family: var(--ff-primary);
    font-size: 0.875rem;
    color: var(--text-p-2);
    line-height: 1.5;
    overflow-x: hidden;

}

a {
  text-decoration: none;
  font-weight: 600;
  font-family: sans-serif;
  
}

img{
    display: block;
    width: 100%;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  /* text-transform: capitalize; */
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color:var(--text-p-2);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* Global classes */

.btn {
  /* text-transform: uppercase; */
  background: var(--background-clr-2);
  color: var(--white-clr);
  padding: 0.45rem 0.8rem;
  letter-spacing:0.1rem;
  /* letter-spacing: var(--spacing); */
  font-weight: 700;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.9rem;
  border: 2px solid transparent;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover { 
  background: var(--text-p-2);
}

.section {
  padding: 3rem 0;
}
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  min-width: 320px; 
  /* max-width: 1300px; */
  max-width: 1040px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}


/*
=============== 
NAVBAR
===============
*/

.section-nav {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
}

.navtext-container{
    display: flex;
    
    align-items: center;
}


.imgnav-1{
    height: 50px;  
}
.imgnav-2{
    height: 25px;
    
}
.nav-hide{
    display: none;
}

.nav-link {
    color: var(--text-title);
    margin-right: 2rem;
}

@media screen and (min-width:600px){
    .imgnav-1{
        display: none;
    }

    .nav-hide{
        display: block;
    }

    .navtext-container .btn{
        padding: 0.3rem 0.8rem;
    }
}



/*
=============== 
HEADER
===============
*/

.hero-img{
    display: none;
}


.header{
    background: linear-gradient(to bottom, var(--clr-primary-1)65%,var(--background-clr-1)65%);
    padding: 2.5rem 0rem ; 
    /* width: 100vw; */
    
}

.header-container{
    
    background: var(--white-clr);
    border-radius: 1rem;
    width: 85vw;
    max-width: 380px;
    margin: 0 auto;
    height: 408px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    
    

}

.header-text-container{
    flex: 5;
}
 
 
 .header-text-container h4{
    font-size: 1.3rem;
    max-width: 283px;
    color: var(--text-title);
    line-height: 1.6;
    letter-spacing: 0.15rem;
    margin-bottom: 16px;
}

.header-text-container p{
    font-size: 16px;
    
    margin-bottom: 24px;
}

.input-header-container input{
    width: 100%;
    padding: 1rem 1.4rem;
    font-size: 0.875rem;
    border-radius: 32px;
    border: 1.5px solid var(--text-p-1);
    flex: 2;
    margin-bottom: 3.3rem;
} 

input[type=text]:focus{
  outline: 2px solid #FF7573;
  box-shadow: var(--light-shadow);  
}

.link-header-container{
    flex: 3;
    position: relative;
    align-self:center;

    
}

.link-header-container a {
    color: var(--clr-primary-1);
    font-weight: 400;
    font-size: 0.85rem;
    text-decoration: underline;
}

/* Media query */
@media screen and (min-width:601px){
    .header{
        background:linear-gradient(rgba(255, 255, 255, 0)30%,#F8F2F4, #F8F2F4 44%),url(../img/landingbackground.svg);
        background-repeat: no-repeat;
        /* background-size: contain; */
        background-size: contain;
        background-position: top;
        
        
    }

    .header-container{
        width: 80vw;
        max-width: 864px;
        height: 332px;
        box-shadow: var(--light-shadow);
        background: url(../img/pizzalanding.png),white;
        background-repeat: no-repeat;
        background-size: 36%;
        border:transparent;
        background-position:100% 0;
    }

    .input-header-container input{
        margin-bottom: 2rem;
    }

}

@media screen and (min-width:701px){
    .header{
         background:linear-gradient(rgba(255, 255, 255, 0)32%, #F8F2F4 38%),url(../img/landingbackground.svg);
         background-repeat: no-repeat;
         background-size: contain;
         background-position: top;
    }
}

@media screen and (min-width:751px){
    .header{
         background:linear-gradient(rgba(255, 255, 255, 0)35%, #F8F2F4 40%),url(../img/landingbackground.svg);
         background-repeat: no-repeat;
         background-size: contain;
         background-position: top;
    }
}
@media screen and (min-width:801px){
    .header{
         background:linear-gradient(rgba(255, 255, 255, 0)38%, #F8F2F4 42%),url(../img/landingbackground.svg);
         background-repeat: no-repeat;
         background-size: contain;
         background-position: top;
    }
}
@media screen and (min-width:871px){
    .header{
         background:linear-gradient(rgba(255, 255, 255, 0)42%, #F8F2F4 45%),url(../img/landingbackground.svg);
         background-repeat: no-repeat;
         background-size: contain;
         background-position: top;
    }
}

@media screen and (min-width:951px){
    .header{
        background:linear-gradient(rgba(255, 255, 255, 0)45%, #F8F2F4 46%),url(../img/landingbackground.svg);  
        background-repeat: no-repeat; 
        background-size: contain;
        background-position: top;
    }

}
@media screen and (min-width:1000px){
    .header{
        background:linear-gradient(rgba(255, 255, 255, 0)47%, #F8F2F4 50%),url(../img/landingbackground.svg);  
        background-repeat: no-repeat; 
        background-size: contain;
        background-position: top;
    }

    .header-container{
        padding-left: 3rem;
    }



    
    .header-text-container h4{
        font-size: 1.5rem;
        max-width: 350px;
        color: var(--text-title);
        line-height: 1.6;
        letter-spacing: 0.15rem;
        margin-bottom: 16px;
    
    }
}

@media screen and (min-width:1060px){
    .header{
        background:linear-gradient(rgba(255, 255, 255, 0)49%, #F8F2F4 50%),url(../img/landingbackground.svg);  
        background-repeat: no-repeat; 
        background-size: contain;
        background-position: top;
    }

}
@media screen and (min-width:1100px){
    .header{
        background:linear-gradient(rgba(255, 255, 255, 0)50%, #F8F2F4 58%),url(../img/landingbackground.svg);  
        background-repeat: no-repeat; 
        background-size: contain;
        background-position: top;
    }

}
@media screen and (min-width:1150px){
    .header{
        background:linear-gradient(rgba(255, 255, 255, 0)53%, #F8F2F4 62%),url(../img/landingbackground.svg);  
        background-repeat: no-repeat; 
        background-size: contain;
        background-position: top;
    }

}
@media screen and (min-width:1210px){
    .header{
        background:linear-gradient(rgba(255, 255, 255, 0)56%, #F8F2F4 64%),url(../img/landingbackground.svg);  
        background-repeat: no-repeat; 
        background-size: contain;
        background-position: top;
    }

}
@media screen and (min-width:1270px){
    .header{
        background:linear-gradient(rgba(255, 255, 255, 0)60%, #F8F2F4 64%),url(../img/landingbackground.svg);  
        background-repeat: no-repeat; 
        background-size: contain;
        background-position: top;
    }

}
@media screen and (min-width:1350px){
    .header{
        background:linear-gradient(rgba(255, 255, 255, 0)62%, #F8F2F4 63%),url(../img/landingbackground.svg);  
        background-repeat: no-repeat; 
        background-size: contain;
        background-position: top;
    }

}
@media screen and (min-width:1380px){
    .header{
        background:linear-gradient(rgba(255, 255, 255, 0)62%, #F8F2F4 62%),url(../img/landingbackground.svg);  
        background-repeat: no-repeat; 
        background-size: contain;
        background-position: top;
    }

}




/*
=============== 
NEWS
===============
*/

.news{
    background: var(--background-clr-1);
    
}

.ingredients-container {
    width: 60%;
    max-width:250px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.news-text{
    text-align: center;
    padding: 0.5rem;
    
}


.news-text h3{
    color: var(--text-title);
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
}


.news-text p {
    font-size: 0.875rem;
}

.news-text span{
    color: var(--text-title);
    font-weight: 600;
}

.news-img-container{
    width: 95%;
    max-width: 1040px;    
    margin: 0 auto;
    
}

.news-img{
    border-radius:0.5rem;
}


@media screen and (min-width:600px ){
    .news-text h3{
        font-size: 1.75rem;
        max-width: 575px;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    
    .news-img-container{
    width: 95%;
    max-width: 1040px;    
    margin: 0 auto;
    
}
}


@media screen and (min-width:900px ){
        .news-text h3{
        font-size: 2rem;
        max-width: 675px;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .news-text p {
    font-size: 1rem;
}
}


/*
=============== 
APP section
===============
*/

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.qrcode-container {
     width: 112px; 
     

}

.app-text-container{
    text-align: center;
}

.app-text-container h3{
    margin-top: 24px;
    margin-bottom: 8px;
    color: var(--text-title);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.app-text-container p{
    color: var(--text-title);
    font-size: 1rem;
    font-weight: 600;
}

.app-hide{
    display: none;
}

.stores-container{
    display: flex;
    
}

.stores-container a{
    margin-right: 0.5rem;
    
}

.stores-container img{
    max-width:205px;
}


/* MEDIA QUERY */

@media screen and (min-width:600px ){

    .app-section{
        padding-top:1rem ;
        padding-bottom:1rem ;
    }


    .app {
        flex-direction: row;
        align-items: center;
        /* margin: 0 auto; */
        width: 100vw;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    

    .app-text-container{
        order: 1;
        flex: 3;
        text-align:left;
        
    }

    .app-text-container h3{
        margin-top: 24px;
        margin-bottom: 10px;
        color: var(--clr-primary-1);
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }   

    .app-text-container p{
        font-size: 0.85rem;
    }
    .app-hide{
        display: inline-block;
    }

    .qrcode-container{
        order: 2;
        flex: 1.7;
        
    }

    .qrcode-container img{
        width: 90px;
        margin: 0 auto;
    }

    .stores-container{
        order: 3;
        flex: 2;
    }
   
}

@media screen and (min-width:1024px){
    .app-text-container h3{
        font-size: 1.5rem;
    }
    .app-text-container p{
        font-size: 1rem;
    }

    .qrcode-container img {
        width:100px;
    }

    .stores-container img{
        width:160px;
        height: 49px;
    }
}


/*
=============== 
FOOTER SECTION
===============
*/


/*
=====
footer text
=====
*/

.footer{
    background: var(--background-clr-2);
    color: var(--white-clr);
    /* padding-left:24px; */

}

.footer-text{
     padding-left:24px;
}


.content-footer{
    margin-top: 1rem;
    margin-bottom: 3.2rem;
    line-height: 2.3rem;
}


.content-footer h3{
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
}

.content-footer a{
    color: var(--white-clr);
    display: block;
    font-size: 1rem
   /*  margin-top: 16px; */
}

.footer-socials h3 {
    letter-spacing: 0.05rem;
}

.socials-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;

}

.socials-container a{
    font-size: 1.8rem;
    color: white;

}

/* Media Query */

@media screen and (min-width:768px) {
    .footer-text{
        /* background: white; */
        display: flex;
        flex-direction:row;
        column-gap: 2rem;
        
    }

    .content-footer{
        flex: 1;
       
    }

    .content-footer h3{
        font-size: 1rem;

    }

    .content-footer a{
        font-size: 0.8rem;
    }

    .footer-socials{
        margin-top: 1rem;
        margin-bottom: 3.2rem;
    }

    .footer-socials h3 {
        font-size: 1rem;
    
    }

    .socials-container a{
        font-size: 1.3rem;
    }
    .socials-container{
        flex: 1;
    }

}

/*
=======
FOOTER Copyright
=======
*/


.footer-copyright{
    border-top: 1px solid var(--text-p-2);
    border-bottom: 1px solid var(--text-p-2);
}


.logo-footer-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.logo-footer{
    width: 100px;
    margin: 0 auto;
}


.copy-container p {
    color: var(--white-clr);
    text-align: center; 
    margin: 0 auto;
    max-width: 690px;
}


/* Media query */

@media screen and (min-width:1024px) {
    .footer-copyright{
        display: flex;
        justify-content:left;
        align-items: center;
        text-align: left;
        
    }


    .copy-container p{
        max-width: 1000px;
    }

}