
/* 
==================
Variables
==================
*/

:root {
    /* Backgrounds */
    --background-clr-1:#F6F6F6;
    --background-clr-2:#DBDBDB;
    /* Main colors */
    --main-clr-1:#006491;
    --main-clr-1-dark:#005177;
    --main-clr-2:#DB052B;
    /* White */
    --white-clr:#FFFFFF;
    /* Txt color */
    --txt-clr:#53565A;
    /* Others */
    --ff-primary:Arial, Helvetica, sans-serif;
    --spacing:0.25rem;
    --radius:0.2rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


/* 
==================
GLOBAL STYLES
==================
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    font-family: var(--ff-primary);
    font-size: 0.875rem;
    color: var(--txt-clr);
    line-height: 1.5;
    overflow-x: hidden;

}

a{
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
}

img{
    display: block;
    width: 100%;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform:uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color:var(--text-p-2);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
